<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>
  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-content-center">
    <section>
      <h1 class="display-3">Acerca de...</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium officia ab sequi enim labore aspernatur. Quam doloremque quas provident iusto repellat voluptate corrupti illum voluptatum, dolore ad officia omnis facilis, eius fugiat possimus mollitia minima, atque ea in laudantium? Amet consequuntur doloribus harum eos? Ipsum modi nihil quis tenetur excepturi. Odit, ipsa. Maxime similique, quas nemo culpa, accusamus ad magnam doloremque aliquid aperiam cumque suscipit quia quos? Porro pariatur ratione fugit sequi cumque eos odio sed totam necessitatibus saepe, modi ex vel praesentium maiores sunt sit laudantium labore quas. Corporis facere possimus labore fugit voluptatibus, nam fugiat, laudantium magnam quaerat impedit distinctio recusandae reiciendis vel debitis iure obcaecati illo, quas qui aliquid voluptatem amet reprehenderit. Laboriosam ratione fuga repudiandae minima odit explicabo illo et libero praesentium dolore? Sit recusandae quos labore amet asperiores, accusamus obcaecati qui tempore praesentium. Illo quas error exercitationem repellat, dignissimos temporibus inventore laborum in maiores nostrum suscipit nisi illum aliquid, explicabo sit eaque ipsum quod modi! Quam consectetur reiciendis corporis dolorem beatae dolores necessitatibus dolor repellat natus eius eos quod qui, quibusdam sequi corrupti nostrum inventore, incidunt voluptatem! Impedit iusto molestiae inventore facere nemo accusamus numquam placeat cupiditate et consectetur similique ea nihil, in repellat. Quae in explicabo praesentium libero sit aliquam aspernatur fugit, officiis tempore ex excepturi facere nesciunt possimus blanditiis fuga sint? Iusto est excepturi quae tenetur dicta impedit maiores consequatur, velit dignissimos quibusdam, doloremque modi earum optio dolor at cumque a officiis laudantium eius delectus alias corporis ab. Odit autem, quidem eius dolore reprehenderit molestiae temporibus ullam consequuntur recusandae excepturi esse, nobis nostrum. Distinctio ut ea cum aliquid consequuntur est eaque tempore accusamus sequi nobis quisquam assumenda esse odit, eum voluptatum quos rem, voluptatem nulla nemo? Deleniti maxime quaerat, exercitationem maiores nostrum, nam esse similique, omnis voluptatibus corrupti placeat numquam optio laudantium! Ea?</p>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>